main {
    .weather-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .country {
            h1 {
                font-size: 64px;
                font-weight: 700;
                line-height: 96px;
                color: var(--white);
                text-transform: capitalize;
            }

            .time {
                display: flex;

                p {
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 22.5px;
                    text-align: left;
                    color: var(--white);
                }
            }

            p {
                color: var(--white);
            }
        }

        .input-side {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            img {
                position: absolute;
                width: 20px;
                height: 20px;
                left: 5px;
            }

            input {
                background: var(--input-bg);
                padding-left: 30px;
                border: none;
                width: 487px;
                height: 51px;
                border-radius: 5px;
                font-size: 15px;
                font-weight: 400;
                line-height: 22.5px;
                color: var(--black);

                &::placeholder {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 22.5px;
                    color: var(--black);
                }
            }

            button {
                position: absolute;
                font-size: 15px;
                font-weight: 400;
                line-height: 22.5px;
                padding: 13px 43px;
                right: 0px;
                cursor: pointer;
                border-radius: 5px;
                border: none;
            }
        }
    }

    .temps {
        display: flex;
        justify-content: space-between;
        margin-top: 150px;

        .temp-left {
            display: flex;
            align-items: center;

            p {
                font-size: 150px;
                font-weight: 600;
                line-height: 225px;
                text-align: left;
                color: var(--white);
            }

            span {
                font-size: 24px;
                font-weight: 600;
                line-height: 36px;
                text-align: left;
                color: var(--white);
                text-transform: capitalize;
                margin-left: 10px;

                &:last-child {
                    display: flex;
                    max-width: 200px;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    text-align: left;
                }
            }
        }

        .temp-right {
            display: flex;
            align-items: center;

            img {
                width: 188px;
                height: 188px;
            }

            .condition-rows {
                display: flex;
                flex-direction: row;

                div {

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        margin-top: 10px;
                        width: 15px;
                        height: auto;
                        margin-right: 5px;

                        &:not(:first-child) {
                            width: 30px;
                        }
                    }

                    &:nth-child(2) {
                        display: flex;
                        align-items: flex-start;

                        p {
                            margin-left: 10px;
                            margin-top: 10px;
                            font-size: 17px;
                            font-weight: 400;
                            line-height: 30px;
                            text-align: left;
                            color: var(--white);
                        }
                    }
                }
            }
        }
    }

    .weather {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 120px;

        .weather-box {
            padding: 28px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1208px;
            width: 100%;
            border-radius: 20px;
            background: var(--weather-box-bg);

            .box {
                min-width: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                cursor: pointer;
                transition: all ease .5s;
                padding: 20px;
                min-height: 200px;
                border-radius: 8px;

                h2 {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    color: var(--white);
                }

                p {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    color: var(--white);

                }

                &:hover {
                    background: rgba(255, 255, 255, 0.3);
                }
            }
        }
    }
}

.input-error {
    outline: 2px solid #ff0000;
}

.no-city {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    color: var(--white);
}

@media screen and (max-width: 1024px) {
    main {
        .weather-header {
            flex-direction: column-reverse;

            .country {
                h1 {
                    font-size: 40px;
                    line-height: 40px;
                    margin-top: 70px;
                }


                p {
                    font-size: 13px;
                    line-height: 20px;
                    margin-top: 20px;
                }
            }


            .input-side {
                width: 100%;

                input {
                    width: 100%;
                }

                button {
                    font-size: 12px;
                    line-height: 22.5px;
                    padding: 13px 23px;
                }
            }
        }

        .temps {
            flex-direction: row;
            margin-top: 60px;

            .temp-left {

                p {
                    font-size: 100px;
                    line-height: 105px;
                }

                span {
                    font-size: 20px;
                    line-height: 20px;

                    &:last-child {
                        font-size: 17px;
                        line-height: 20px;
                    }
                }
            }

            .temp-right {
                flex-direction: row;

                img {
                    width: 150px;
                    height: 150px;
                }

                .condition-rows {
                    display: flex;
                    flex-direction: row;

                }
            }
        }

        .weather {

            .weather-box {
                padding: 25px 15px;
                overflow-x: scroll;

                .box {
                    min-width: 200px;
                    padding: 0px;
                    margin-right: 20px;
                }
            }
        }
    }

    .no-city {
        font-size: 30px;
        line-height: 40px;
        margin-top: 0;
    }
}

@media screen and (max-width: 550px) {
    main {
        .weather-header {
            flex-direction: column-reverse;

            .country {
                h1 {
                    font-size: 40px;
                    line-height: 40px;
                    margin-top: 20px;
                }


                p {
                    font-size: 13px;
                    line-height: 20px;
                    margin-top: 20px;
                }
            }


            .input-side {
                width: 100%;

                input {
                    width: 100%;
                }

                button {
                    font-size: 12px;
                    line-height: 22.5px;
                    padding: 13px 23px;
                }
            }
        }

        .temps {
            flex-direction: column;
            margin-top: 60px;

            .temp-left {

                p {
                    font-size: 100px;
                    line-height: 105px;
                }

                span {
                    font-size: 20px;
                    line-height: 20px;

                    &:last-child {
                        font-size: 17px;
                        line-height: 20px;
                    }
                }
            }

            .temp-right {
                flex-direction: column;

                img {
                    width: 150px;
                    height: 150px;
                }

                .condition-rows {
                    display: flex;
                    flex-direction: row;

                    div {
                        margin-top: -30px;
                    }
                }
            }
        }

        .weather {
            margin-top: 60px;

            .weather-box {
                padding: 25px 15px;
                overflow-x: scroll;

                .box {
                    min-width: 200px;
                    padding: 0px;
                    margin-right: 20px;
                }
            }
        }
    }
}