main {
    .weather-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .country {
            h1 {
                font-size: 64px;
                font-weight: 700;
                line-height: 96px;
                color: var(--white);
            }

            .time {
                display: flex;

                p {
                    font-family: Poppins;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 22.5px;
                    text-align: left;
                    color: var(--white);
                }
            }

            p {
                color: var(--white);
            }
        }


        .input-side {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            img {
                position: absolute;
                width: 20px;
                height: 20px;
                left: 5px;
            }

            input {
                background: var(--input-bg);
                padding-left: 30px;
                border: none;
                width: 487px;
                height: 51px;
                border-radius: 5px;
                font-size: 15px;
                font-weight: 400;
                line-height: 22.5px;
                color: var(--black);

                &::placeholder {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 22.5px;
                    color: var(--black);
                }
            }

            button {
                position: absolute;
                font-size: 15px;
                font-weight: 400;
                line-height: 22.5px;
                padding: 13px 43px;
                right: 0px;
                cursor: pointer;
                border-radius: 5px;
                border: none;
            }
        }
    }

    .weather {
        display: flex;
        align-items: center;
        justify-content: center;

        .weather-box {
            padding: 28px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1058px;
            width: 100%;
            border-radius: 20px;
            background: var(--weather-box-bg);
        }
    }
}